
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav" style="text-align:right;padding-left:430px">
    <li class="nav-item" style="padding-right:100px">Dashboard
    <!--  <a class="nav-link"  href="#">Hi ! {{username}}</a> -->
    </li>

    <li class="nav-item" align="right">
      <a class="nav-link"  routerLink="home" href="#">Logout</a>
    </li>
  </ul>

</nav>

<form class="well" style="padding-top:30px" (submit)="addTask($event)">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]= "title" name="title" placeholder="Add Task" style="width:50%;float:left"/>
    <input type="date" class="form-control" [(ngModel)]= "date" name="date" style="width:30%;float:left"/>
    <input class="btn btn-primary" type="submit" value="Add" style="float:left" />
  </div>
  <br><br>

</form>


<app-task></app-task>
