
<h1 style="font-size:80px;padding-bottom:50px" align="center" >< TODO ></h1>
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav" style="text-align:right;padding-left:430px">
    <li class="nav-item" style="padding-right:100px">
      <a class="nav-link"  href="#">Dashboard</a>
    </li>

    <li class="nav-item" align="right">
      <a class="nav-link"  routerLink="home"href="#">Logout</a>
    </li>
  </ul>

</nav>

<form class="well">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Add Task"/>
    <input type="date" class="form-control"/>
    <input type="button" value="Add"/>
  </div>

</form>
<div class="task-list">
  <div class="col-md-1">
    <input type="checkbox">
  </div>
  <div class="col-md-7">
    Some task
  </div>
  <div class="col-md-4">
    date
  </div>
  <div class="col-md-4">
    <input type="button" value="Delete" class="btn btn-danger"/>
  </div>

</div>
