<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav" style="text-align:right;padding-left:430px">
    <li class="nav-item" style="padding-right:100px">
      <a class="nav-link" routerLink="" href="#">Home</a>
    </li>
    <li class="nav-item" style="padding-right:100px">
      <a class="nav-link" routerLink="/login" href="#">Login</a>
    </li>
    <li class="nav-item" style="padding-right:100px">
      <a class="nav-link"  routerLink="/register"href="#">Register</a>
    </li>
  </ul>

</nav>
<p align="center" ><h3>Todo is your very own tasklist manager.
Sign in today to line up , update and execute your tasks!.</h3><p>
