<!--<p>{{message}}<p>-->
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav" style="text-align:right;padding-left:430px">
    <li class="nav-item" style="padding-right:100px">
      <a class="nav-link" routerLink="" href="#">Home</a>
    </li>
    <li class="nav-item" style="padding-right:100px">
      <a class="nav-link" routerLink="login" href="#">Login</a>
    </li>
    <li class="nav-item" style="padding-right:100px">
      <a class="nav-link"  routerLink="register"href="#">Register</a>
    </li>
  </ul>

</nav>
<form (submit)="registerUser($event)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
